<div class="bg">
  <div class="background">  
    <h1 class="center">
      <button class="button" mat-raised-button color="accent" type="submit" (click) ="downloadFile()">
        <mat-icon>get_app</mat-icon>
        Download
      </button>     
      <!-- <img src="{{xd}}"> -->
      <img src="{{previewSignsrc}}" >
      <!-- <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <img mat-card-image src="..\obraz.png" alt="Ray Tracer" >
        <mat-card-content>
          <p>
           aaaaa
          </p>
        </mat-card-content>
      </mat-card> -->

    </h1>   
  </div>
</div>